.card{
    
    height: 5.438rem;
    background-color: var(--color-grey-1);
    border-radius: var(--radius-1);
    padding: 1rem;
}


.cardBorderGreen{
   border-left: 4px solid var(--color-secondary);
}

.cardBorderGrey{
    border-left: 4px solid var(--color-grey-2);
}