
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    

    --color-grey-1: #F8F9FA;
    --color-grey-2: #E9ECEF;
    --color-grey-3:#868E96;
    --color-grey-4:#212529;
   
    
    --color-brand-1:#FD377E;
    --color-brand-2:#E34981;
    --color-secondary: #03B898;


    --radius-1: 0.5rem;
    --radius-2: 0.25rem;

    --font-size-title-1:2.375rem; /* 38px*/
    --font-size-title-2:1.25rem; /* 20px*/
    --font-size-text-1:1rem;  /* 16px*/
    --font-size-text-2:0.875rem; /* 14px*/
    --font-size-text-3:0.75rem; /* 12px*/

    --font-weight-1:700;
    --font-weight-2:600;
    --font-weight-3:400;




}

body{
    font-family: 'Nunito', sans-serif ;
}


.flex{
    display: flex;
}


.between{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

.align-start{
    align-items: start;
}


.gap-05rem{
    gap: 0.5rem;
}
.gap-1rem{
    gap: 1rem;
}
.gap-2rem{
    gap: 2rem;
}
.gap-3rem{
    gap: 3rem;
}



.clean-list{
    list-style: none;
}

.clean-btn{
    border: none;
    background-color: transparent;
}

.colorWhite{
    color:#fff

}

.title-1{
    font-size: var(--font-size-title-1);
    font-weight: 800;
}

.text-1{
    font-size: var(--font-size-text-1);
    font-weight: 400;
}